<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="harmonija_5" package="harmonija_5">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
	<application android:icon="@drawable/icon" android:label="Harmonija 5"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>