<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tdd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tdd.Properties.Settings>
            <setting name="max_file" serializeAs="String">
                <value>midsize.jpg</value>
            </setting>
            <setting name="mid_file" serializeAs="String">
                <value>midsize.jpg</value>
            </setting>
            <setting name="min_file" serializeAs="String">
                <value>midsize.jpg</value>
            </setting>
            <setting name="operation_folder" serializeAs="String">
                <value>E:\\</value>
            </setting>
        </tdd.Properties.Settings>
    </userSettings>
</configuration>